<h1>hair salon</h1>
<hr>

<h2>Edit Stylist: @Model["stylist"].GetDescription()</h2>

<form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" method="post">
  <label for="newDescription">Name:</label>
  <input type="text" name="newDescription" value="@Model["client"].GetDescription()">
  <button type="submit">Edit</button>
</form>

<h4><a href="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()">Return to Previous Stylist</a></h4>