<h1>Hair Salon</h1>
<hr>

<h2>Edit Stylist: @Model["stylist"].GetName()</h2>

<form action="/stylists/@Model["stylist"].GetId()" method="post">
  <label for="newName">Name:</label>
  <input type="text" name="newName" value="@Model["stylist"].GetName()">
  <button type="submit">Update</button>
</form>

<h4><a href="/stylists/@Model["stylist"].GetId()">Return to Previous Stylist</a></h4>