<h1>Add a stylist</h1>

<form action="/stylists" method="post">
  <label for="stylistName">Stylist name</label>
  <input id="stylistName" name="stylistName" type="text">
  <button type="submit">Add</button>
</form>

<hr>

<p><a href="/stylists">Back to stylists</a></p>
<p><a href="/">Back home</a></p>
