<h1>Hair Salon</h1>
<hr />

<h2>Specialties:</h2>


<h4><a href="/specialties/new">Add New Specialties</a></h4>
<h4><a href="/specialties/deleteall">Delete All Specialties</a></h4>
<h4><a href="/">Home</a></h4>