<h1>Add a new Specialty</h1>

<form action="/specialties" method="post">
  <label for="style">Specialty style:</label>
  <input id="style" name="style" type="text" required>
  <button type="submit">Add new Specialty</button>
</form>

<hr>

<p><a href="/clients">View all Specialties</a></p>
<p><a href="/">Back home</a></p>