<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hair Salon</title>
  </head>
  <body>
    <h1>Add Client</h1>

    <form action="/clients" method="post">
      <label for="description">Add a new client</label>
      <input id="description" name="description" type="text">
      <button type="submit">Submit</button>
    </form>

  </body>
</html>