<h1>Hair Salon</h1>
<hr />
<h2>Clients:</h2>

@if (Model.Count != 0)
{
  <ul>
    @foreach (var client in Model)
    {
      <li><a href='/clients/@client.GetId()'>@client.GetDescription()</a></li>
    }
  </ul>
}

<h4><a href="/clients/new">Add new client</a></h4>
<h4><a href="/">Return home</a></h4>