<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hair Salon</title>
  </head>
  <body>
<h1>Add a new client to @Model.GetName()</h1>

<form action='/stylists/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <label for='clientDescription'>Client description</label>
  <input id='clientDescription' name='clientDescription' type='text'>
  <button type='submit'>Add Client</button>
</form>
