<h1>Add a new client</h1>

<form action="/clients" method="post">
  <label for="description">Client description:</label>
  <input id="description" name="description" type="text">
  <button type="submit">Add new client</button>
</form>

<hr>

<p><a href="/clients">View all clients</a></p>
<p><a href="/">Back home</a></p>
