<h1>stuff </h1>

<h2>@Model["client"].GetDescription()</h2>
<h3>stylist: @Model["stylist"].GetName()</h3>

<a href='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/edit'>Edit this client</a>
<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add another client</a>
<a href='/stylists'>View all stylists</a>