<h1> Client Details: </h1>

<h2>@Model["client"].GetDescription()</h2>
<h3>Stylist: @Model["stylist"].GetName()</h3>

<a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add another Client</a>
<a href='/stylists'>View all Stylists</a>
